AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AllowAllConstructorInitializersOnNextLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
ColumnLimit: 120
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 0
IndentPPDirectives: AfterHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
PointerAlignment: Left
SortIncludes: true
TabWidth: 4
UseTab: AlignWithSpaces
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
SpaceInEmptyBlock: true
BreakBeforeTernaryOperators: true
SeparateDefinitionBlocks: Always
