:root[data-theme="default"] {
	--tex-url-tools: url(/img/ui/default/tools.png);
	--tex-url-tools-text: url(/img/ui/default/tools_text.png);
	--tex-url-border: url(/img/ui/default/border.png);
	--tex-url-border-active: url(/img/ui/default/border_active.png);
	--tex-url-ui: url(/img/ui/default/ui.png);
}

:root[data-theme="easter"] {
	--tex-url-tools: url(/img/ui/easter/tools.png);
	--tex-url-tools-text: url(/img/ui/easter/tools_text.png);
	--tex-url-border: url(/img/ui/easter/border.png);
	--tex-url-border-active: url(/img/ui/easter/border_active.png);
	--tex-url-ui: url(/img/ui/easter/ui.png);
}

:root[data-theme="halloween"] {
	--tex-url-tools: url(/img/ui/halloween/tools.png);
	--tex-url-tools-text: url(/img/ui/halloween/tools_text.png);
	--tex-url-border: url(/img/ui/halloween/border.png);
	--tex-url-border-active: url(/img/ui/halloween/border_active.png);
	--tex-url-ui: url(/img/ui/halloween/ui.png);
}

:root[data-theme="newyear"] {
	--tex-url-tools: url(/img/ui/newyear/tools.png);
	--tex-url-tools-text: url(/img/ui/newyear/tools_text.png);
	--tex-url-border: url(/img/ui/newyear/border.png);
	--tex-url-border-active: url(/img/ui/newyear/border_active.png);
	--tex-url-ui: url(/img/ui/newyear/ui.png);
}

::before, ::after {
	--clr-pri: inherit;
	--clr-sec: inherit;
	--bg-clr: inherit;
	--tex-url-tools: inherit;
	--tex-url-tools-text: inherit;
	--tex-url-border: inherit;
	--tex-url-border-active: inherit;
	--tex-url-ui: inherit;
}

/* ux */

.owop-colors button:hover {
	filter: brightness(1.1);
}

.owop-colors button:active {
	filter: brightness(0.8);
}

#game-data::after { /* preload textures */
	position: absolute;
	width: 0;
	height: 0;
	content: var(--tex-url-tools) var(--tex-url-tools-text)
		var(--tex-url-border) var(--tex-url-border-active) var(--tex-url-ui);
}

/* EUI */

#eui-container {
	user-select: none;
}

.eui-win, .eui-wg, .eui-themed {
	border: 8px transparent solid;
	background-color: transparent;
	background-clip: padding-box;
	color: #FFF;
	border-image: var(--tex-url-border) 8 fill repeat;
}

.eui-win, .eui-wg {
	position: fixed;
	text-align: center;
}

/* TOOL WINDOW */

.owop-tools {
	top: 30px;
	left: 4px;
	width: min-content;
}

.owop-tools .eui-win-title {
	margin: auto;
	height: 16px;
	width: 36px;
	background-image: var(--tex-url-tools-text);
	background-repeat: no-repeat;
	background-position: center;
}

.owop-tools .tool {
	width: 24px;
	height: 24px;
	box-sizing: content-box;
	padding: 0;
	border: 8px transparent solid;
	background-color: transparent;
}

.owop-tools .tool.active {
	border: 8px transparent solid;
	border-image: var(--tex-url-border-active) 8 fill repeat;
}

.owop-tools .tool::after {
	content: '';
	background-image: var(--tex-url-tools);
	background-repeat: no-repeat;
	background-position: 32px 0px;
	background-clip: content-box;
	width: 32px;
	height: 32px;
	margin: -4px;
	display: block;
}

.owop-tools .tool[data-tool="Pencil"]::after {
	background-position: 0px 0px;
}

.owop-tools .tool[data-tool="Move"]::after {
	background-position: -32px 0px;
}

.owop-tools .tool[data-tool="Zoom"]::after {
	background-position: -64px 0px;
}

.owop-tools .tool[data-tool="Pipette"]::after {
	background-position: -96px 0px;
}

/* COLOR WIDGET */

.owop-clr-ui {
	display: flex;
	align-items: flex-end;
	position: fixed;
	padding: 4px;
	left: 0;
	bottom: 0;
	max-width: 100%;
	box-sizing: border-box;
}

.owop-colors, .owop-palettes {
	position: initial;
}

.owop-colors {
	display: flex;
	flex-wrap: wrap;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
}

.owop-colors > * {
	width: 50%;
	height: 50%;
	appearance: none;
	background-color: transparent;
	border: 0;
	padding: 0;
}

.owop-clr-picker {
	position: relative;
}

.owop-clr-picker, .color-picker__dialog {
	color-scheme: light only;
}

.owop-clr-picker::before, .owop-clr-picker::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #00000055;
	box-sizing: border-box;
}

.owop-clr-picker::before {
	background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), linear-gradient(45deg, #ddd 25%, #fff 25%, #fff 75%, #ddd 75%, #ddd 100%);
	background-position: 0 0, 0.25em 0.25em;
	background-size: 0.5em 0.5em;
}

.owop-clr-picker::after {
	background-color: inherit;
}

.owop-colors > .primary-clr {
	margin: 2px -2px -2px 2px;
	z-index: 1;
}

.owop-colors > .secondary-clr {
	margin: -2px 2px 2px -2px;
}

.owop-colors > .palette-btn {
	margin: 0 -2px 0 2px;
}

.owop-colors > .palette-btn::after, .owop-colors > .swap-clr-btn::after {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
	background-image: var(--tex-url-ui);
	background-repeat: no-repeat;
	background-position: center;
}

.owop-colors > .palette-btn::after {
	background-position: -64px 0px;
}

.owop-colors > .swap-clr-btn::after {
	background-position: -32px 0px;
}

/* click shield for color picker */
.color-picker__dialog::before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

/* PALETTE WIDGET */

.owop-palettes {
	width: 350px;
	min-height: 80px;
	margin-left: 3px;
}

.owop-palettes summary {
	text-align: left;
	background-color: #00000044;
	border-radius: 3px;
	padding: 3px;
}

.owop-palettes > details[open] > summary {
	background-color: #00000055;
}

.owop-palettes > details + details {
	margin-top: 3px;
}

.world-palettes summary::before {
	content: 'World palettes (' attr(data-count) ')';
}

.user-palettes summary::before {
	content: 'User palettes (' attr(data-count) ')';
}

.owop-palette {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
	padding: 3px;
	background-color: #000000AA;
	position: relative;
}

.owop-palette + .owop-palette, summary + .owop-palette {
	margin-top: 3px;
}

.owop-palette:hover::before {
	content: attr(data-name) ' (' attr(data-clr-count) ' colors)';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-100%);
	background-color: #000000AA;
	padding: 0 3px;
	pointer-events: none;
}

.owop-pal-clr {
	--w-perc: inherit;
	flex-grow: 1;
	appearance: none;
	border: none;
	min-height: 16px;
	min-width: var(--w-perc, 24px);
	min-width: max(var(--w-perc, 24px), 24px);
}

/* POSITION WIDGET */

.owop-pos {
	border-top: none;
	border-left: none;
	padding-left: 3px;
	padding-top: 3px;
}

.owop-pos::before {
	content: 'X: ' attr(data-cur-x) ', Y: ' attr(data-cur-y);
}

/* show camera position instead on touch devices */
@media (pointer:coarse) {
	.owop-pos::before {
		content: 'X: ' attr(data-cam-x) ', Y: ' attr(data-cam-y);
	}
}

/* CURSOR COUNT WIDGET */

.owop-cursor-count {
	border-top: none;
	border-right: none;
	padding-right: 3px;
	padding-top: 3px;
	right: 0;
}

.owop-cursor-count[data-num-cur-world="1"]::before {
	content: attr(data-num-cur-world) ' cursor online';
}

.owop-cursor-count::before {
	content: attr(data-num-cur-world) ' cursors online';
}

.owop-cursor-count[data-num-cur-global="1"]:active::before {
	content: attr(data-num-cur-global) ' cursor globally';
}

.owop-cursor-count:active::before {
	content: attr(data-num-cur-global) ' cursors globally';
}

