:root[data-theme="default"] {
	--tex-url-tools: url(/img/ui/default/tools.png);
	--tex-url-tools-text: url(/img/ui/default/tools_text.png);
	--tex-url-border: url(/img/ui/default/border.png);
	--tex-url-border-active: url(/img/ui/default/border_active.png);
	--tex-url-ui: url(/img/ui/default/ui.png);
}

:root[data-theme="easter"] {
	--tex-url-tools: url(/img/ui/easter/tools.png);
	--tex-url-tools-text: url(/img/ui/easter/tools_text.png);
	--tex-url-border: url(/img/ui/easter/border.png);
	--tex-url-border-active: url(/img/ui/easter/border_active.png);
	--tex-url-ui: url(/img/ui/easter/ui.png);
}

:root[data-theme="halloween"] {
	--tex-url-tools: url(/img/ui/halloween/tools.png);
	--tex-url-tools-text: url(/img/ui/halloween/tools_text.png);
	--tex-url-border: url(/img/ui/halloween/border.png);
	--tex-url-border-active: url(/img/ui/halloween/border_active.png);
	--tex-url-ui: url(/img/ui/halloween/ui.png);
}

:root[data-theme="newyear"] {
	--tex-url-tools: url(/img/ui/newyear/tools.png);
	--tex-url-tools-text: url(/img/ui/newyear/tools_text.png);
	--tex-url-border: url(/img/ui/newyear/border.png);
	--tex-url-border-active: url(/img/ui/newyear/border_active.png);
	--tex-url-ui: url(/img/ui/newyear/ui.png);
}

:root, ::before, ::after {
	--clr-pri: inherit;
	--clr-sec: inherit;
}

/* ux */

.owop-colors button:hover {
	filter: brightness(1.1);
}

.owop-colors button:active {
	filter: brightness(0.8);
}

/* EUI */

#eui-container {
	user-select: none;
}

.eui-win, .eui-wg, .eui-themed {
	border: 8px transparent solid;
	background-color: transparent;
	background-clip: padding-box;
	color: #FFF;
	border-image: var(--tex-url-border) 8 fill repeat;
}

.eui-win, .eui-wg {
	position: fixed;
	text-align: center;
}

/* TOOL WINDOW */

.owop-tools {
	top: 32px;
	left: 4px;
	width: min-content;
}

.owop-tools .eui-win-title {
	margin: auto;
	height: 16px;
	width: 36px;
	background-image: var(--tex-url-tools-text);
	background-repeat: no-repeat;
	background-position: center;
}

.owop-tools .tool {
	width: 24px;
	height: 24px;
	box-sizing: content-box;
	padding: 0;
	border: 8px transparent solid;
	background-color: transparent;
}

.owop-tools .tool.active {
	border: 8px transparent solid;
	border-image: var(--tex-url-border-active) 8 fill repeat;
}

.owop-tools .tool::after {
	content: '';
	background-image: var(--tex-url-tools);
	background-repeat: no-repeat;
	background-position: 32px 0px;
	background-clip: content-box;
	width: 32px;
	height: 32px;
	margin: -4px;
	display: block;
}

.owop-tools .tool[data-tool="Pencil"]::after {
	background-position: 0px 0px;
}

.owop-tools .tool[data-tool="Move"]::after {
	background-position: -32px 0px;
}

.owop-tools .tool[data-tool="Zoom"]::after {
	background-position: -64px 0px;
}

.owop-tools .tool[data-tool="Pipette"]::after {
	background-position: -96px 0px;
}

/* COLOR WIDGET */

.owop-colors {
	display: flex;
	flex-wrap: wrap;
	left: 4px;
	bottom: 4px;
	width: 80px;
	height: 80px;
}

.owop-colors > * {
	width: 50%;
	height: 50%;
	appearance: none;
	background-color: transparent;
	border: 0;
	padding: 0;
}

.owop-clr-picker::before, .owop-clr-picker::after {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	border: 1px solid #00000055;
	box-sizing: border-box;
}

.owop-clr-picker::before {
	background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), linear-gradient(45deg, #ddd 25%, #fff 25%, #fff 75%, #ddd 75%, #ddd 100%);
    background-position: 0 0, 0.25em 0.25em;
    background-size: 0.5em 0.5em;
}

.owop-clr-picker::after {
	background-color: inherit;
}

.owop-colors > .primary-clr {
	margin: 2px -2px -2px 2px;
	z-index: 1;
}

.owop-colors > .secondary-clr {
	margin: -2px 2px 2px -2px;
}

.owop-colors > .palette-btn {
	margin: 0 -2px 0 2px;
}

.owop-colors > .palette-btn::after, .owop-colors > .swap-clr-btn::after {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
	background-image: var(--tex-url-ui);
	background-repeat: no-repeat;
	background-position: center;
}

.owop-colors > .palette-btn::after {
	background-position: -64px 0px;
}

.owop-colors > .swap-clr-btn::after {
	background-position: -32px 0px;
}

/* click shield for color picker */
.color-picker__dialog::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* POSITION WIDGET */

.owop-pos {
	border-top: none;
	border-left: none;
	padding-left: 3px;
    padding-top: 3px;
}

.owop-pos::before {
	content: 'X: ' attr(data-cur-x) ', Y: ' attr(data-cur-y);
}

